body {
    font-family: Arial, sans-serif;
}
nav {
    background-color:black;
    text-align: center;
}
a {
    color:white;
    text-decoration:none;
    font-size: 1.5em;
    padding:0.5em;
}
a:hover {
    color:red;
    font-size:40px;
}
header {
    background-color:white;
    text-align:center;

}
img {
    width:100%;

}
footer {
    background-color:grey;
    text-align: center;

}