body {
    font-family: Arial, sans-serif;
}
nav {
    background-color:black;
    text-align: center;
}
header {
    background-color:white;
    text-align:center;

}
img {
    width:100%;

}
footer {
    background-color:grey;

}